{% extends "base.html" %}

{% block title %}商品管理页{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ static('css/admin/goods.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include "admin/sidebar.html" %}
            </div>
            <div class="col-md-10">
                <fieldset>
                    <legend>商品管理
                        <span><a href="javascript:;" class="btn btn-info btn-xs">添加新商品</a></span>
                    </legend>
                    <table class="table table-hover">
                        <thead>
                            <th>商品名</th>
                            <th>价 格</th>
                            <th>添加时间</th>
                            <th>类 型</th>
                            <th>是否出售</th>
                        </thead>
                        <tbody>
                        {% for goods in goods_list %}
                            <tr>
                                <td>{{ goods.name }}</td>
                                <td>{{ goods.price }}</td>
                                <td>{{ goods.create_time }}</td>
                                <td>{{ goods.type }}</td>
                                <td><a href="javascript:;">{{ goods.is_sell() }}</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ static('components/jquery-validation/jquery.validate.js') }}"></script>
    <script src="{{ static('components/jquery-validation/localization/messages_zh.js') }}"></script>
    <script src="{{ static('js/admin/goods.js') }}"></script>
{% endblock %}