{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ static('css/home.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-12">
            <div id="banner-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#banner-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#banner-carousel" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{{ static('img/ads/a1.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{ static('img/ads/a2.jpg') }}" alt="">
                    </div>
                    <div class="item">
                        <img src="{{ static('img/ads/a3.jpg') }}" alt="">
                    </div>
                </div>
                <a class="left carousel-control" href="#banner-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#banner-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
    <div class="row split">
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div id="company-logo">
                <img src="{{ static('img/logo.gif') }}" alt="">
            </div>
            <div id="star"></div>
            <p id="company-info" class="first-line-indent text-warning">
                <em><strong>啤酒坊</strong></em>是灯塔市燕京啤酒总代理，负责灯塔市范围内的所有燕京啤酒的发行与销售。
                为了让利广大客户，现上线直销平台，减少中间销售环节，让大家以最优惠的价格买到最称心的燕京啤酒。
            </p>
            <h3 class="text-danger">送酒电话：<stong>18710092303</stong></h3>
            <h5 class="text-muted">送酒时间：<stong>早晨9:00－下午6:00</stong></h5>
        </div>
        <div id="notice" class="col-md-8 hidden-xs hidden-sm">
            <h4>燕京啤酒的卓越特点</h4>
            <ol>
                <li>燕京啤酒采用纯天然矿泉水酿造（国家四部委认证），锶含量高，饮后回味有泉水般的甘甜；</li>
                <li>现代化啤酒制作装备：溶解氧控制最好、PO值控制最好、燕京啤酒总部为亚洲最大的啤酒生产厂、代表中国啤酒业装备的最高水平；</li>
                <li>优质酵母菌种：典型高发酵度、苦味代谢柔和，1990、1995行业评酒标准；</li>
                <li>保鲜期长达4个月：保存4个月的酒和刚下线的一样新鲜，达到国际最高水平。</li>
                <li>通过中国绿色食品发展中心审核，符合绿色食品A级标准。</li>
            </ol>
            <h4>燕京啤酒 久负盛名</h4>
            <div class="first-line-indent">
                中国名牌产品，中国驰名商标，人民大会堂国宴特供酒，中国啤酒行业绿色食品认证产品，
                中华人民共和国建国50周年及澳门回归献礼酒，全国“两会”宴会专用酒。
            </div>
            <h4>燕京啤酒的品种</h4>
            <div class="first-line-indent">
                目前燕京啤酒有8ºP、10ºP、11ºP、12ºP四大类，一百多个品种，
                精品高档和普通中、低档啤酒齐全，包装方式采用瓶装、易拉罐装和桶装，
                能满足不同口味和不同消费层次的消费者的需求。
            </div>
        </div>
    </div>
    <a name="shopping"></a>
    <div class="row split">
        <div class="col-md-12 alert alert-info">
            <strong>本店提供送货上门服务，但因人手有限及成本因素，所以订单有如下限制：</strong>
            <ol>
                <li>本店配送范围只限灯塔市内，非本市客户请自行上门提酒。</li>
                <li>同类产品购买数目，须满足最低起送条件。</li>
                <li>不同类产品凑单，须满足最小金额条件。</li>
                <li>本店会累计用户订单，给予相映的优惠政策，但只针对网站下单用户。</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods simpleCart_shelfItem">
                <img src="{{ static('img/wine/w1.jpg') }}" alt="">
                <div class="text-center">
                    <h4 class="item_name">燕京纯生啤酒</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong><span class="item_price">12.7</span>元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_1" type="text" class="input-sm item_Quantity" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_1')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm item_add">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w2.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京啤酒8℃SPECIAL</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_2" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_2')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_2')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w3.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京啤酒10℃超爽</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_3" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_3')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_3')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w4.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京啤酒11℃清爽</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_4" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_4')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_4')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w5.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京本色啤酒</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_5" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_5')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_5')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w6.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京冰啤</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_6" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_6')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_6')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w7.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京菊花啤酒</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_7" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_7')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_7')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w8.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京无醇啤酒</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_8" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_8')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_8')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w9.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京红啤</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_9" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_9')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_9')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="thumbnail goods">
                <img src="{{ static('img/wine/w10.jpg') }}" alt="">
                <div class="text-center">
                    <h4>燕京本生啤酒</h4>
                    <ul class="list-unstyled alert alert-info text-left">
                        <li><strong>价格：</strong>12.7元／瓶</li>
                        <li><strong>最低起送：</strong>1件（24瓶）</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li class="spinner">
                            <input id="p_10" type="text" class="input-sm" name="spinner">
                        </li>
                        <li class="btn-action-group">
                            <a href="javascript:;" class="btn btn-warning btn-sm" onclick="pay('p_10')">立刻付款</a>
                            <button type="button" class="btn btn-danger btn-sm" onclick="addToCart('p_10')">
                                <span class="glyphicon glyphicon-shopping-cart"></span> 加入购物车
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ static('components/raty/lib/jquery.raty.min.js') }}"></script>
    <script src="{{ static('components/bootstrap-touchspin/bootstrap-touchspin/bootstrap.touchspin.js') }}"></script>
    <script type="text/javascript">
        function pay(idx) {
            var amount = $("#" + idx).val();
            alert(amount);
        }
        function addToCart(idx) {
            var amount = $("#" + idx).val();
            alert(amount);
        }
        $("#star").raty({
            size: 19,
            score: 3,
            starOn: "{{ static('img/vote/star-on.png') }}",
            starOff: "{{ static('img/vote/star-off.png') }}",
            starHalf: "{{ static('components/raty/lib/img/star-half.png') }}"
        });
        $("input[name='spinner']").TouchSpin({
            min: 1,
            max: 99999,
            initval: 1,
            prefix: "<strong>购买数目</strong>："
        });
    </script>
{% endblock %}