/* bootstrap spinner */
.container {
    margin-top: 40px;
}
.navbar {
    min-height: 30px;
}
.navbar .container {
    margin-top: 0;
}
.navbar-nav {
    margin: 2.5px -15px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.glyphicon-warning-sign {
    color: #ff0000;
}

/* custom class */
.badge-info {
    background-color: #3A87AD;
}
.badge-danger {
    background-color: #a94442;
}

/* form-signin */
.form-signin {
    width: 270px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin label {
    font-weight: normal;
}

/* form-cart */
.form-cart {
    width: 270px;
    margin: 0 auto;
}
.form-cart .simpleCart_items {
    max-height: 240px;
    overflow-y: auto;
}
.form-cart .simpleCart_items .itemRow {
    border-top: 1px dotted #ccc;
    padding: 2px 15px;
}
.form-cart .simpleCart_items .itemRow div {
    display: inline-block;
}
.form-cart .simpleCart_items .itemRow .item-name {
    width: 60%;
    vertical-align:top;
    font-weight: bold;
    font-size: 15px;
    color: #8a6d3b;
}
.form-cart .simpleCart_items .itemRow .item-custom {
    width: 40%;
    text-align: right;
    font-weight: 700;
    font-size: 11px;
}
.form-cart .simpleCart_action {
    margin-top: 3px;
    padding: 5px;
    background-color: #F5F5F5;
}