.container {
    margin-top: 40px;
}
.navbar {
    min-height: 30px;
}
.navbar .container {
    margin-top: 0;
}
.navbar-nav {
    margin: 2.5px -15px;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.dropdown-menu {
    width: 270px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin label {
    font-weight: normal;
}
#cart-dropdown {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}