.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.form-inline .form-group .year{
    width: 120px;
}
.form-inline .form-group .month{
    width: 80px;
}
.form-inline .form-group .day{
    width: 80px;
}
label.vaild {

}
label.error {
    font-weight: bold;
    color: #b94a48;
    padding: 2px 8px;
    margin-top: 2px;
}
#form-register {
    margin: 18px;
}