{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ static('css/login.css') }}">
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery.validator.addMethod("lettersonly", function (value, element) {
                return this.optional(element) || /^[a-z0-9_-]+$/i.test(value);
            }, "Please use only a-z0-9_-");

            $('#form-signin').validate({
                rules: {
                    login: {
                        minlength: 3,
                        maxlength: 15,
                        required: true,
                        lettersonly: true
                    },
                    password: {
                        minlength: 3,
                        maxlength: 15,
                        required: true,
                        lettersonly: true
                    }
                },
                highlight: function (element) {
                    $(element).closest('.control-group').addClass('has-error');
                }
            });

            document.getElementById('id_username').focus()
        });
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <form class="form-signin" method="post" action="" id="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>

            <div class="control-group">
                <label class="control-label" for="login">Login:</label>
                <div class="controls">
                    <input size="50" name="login" id="login" value="" type="text" class="form-control" placeholder="Login">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    <input size="50" name="password" id="password" value="" type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <label class="checkbox">
                <input type="checkbox" name="save" value="">Remember me</label>
            <button name="submit" id="submit" value="" type="submit" class="btn btn-large btn-primary btn-block">Sign in</button>
        </form>
    </div>
{% endblock %}