{% extends "base.html" %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ static('components/bootstrap-datepicker/css/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ static('css/register.css') }}">
{% endblock %}

{% block body %}
<div class="container">
        <fieldset>
            <legend>用户信息注册</legend>
            <div class="col-md-8 col-md-offset-2">
                <div class="text-right text-info">
                    <em><strong class="text-danger">*</strong>标记为<strong class="text-danger">必填</strong>选项</em>
                </div>
                <form id="form-register" class="form-horizontal" method="post" action="{{ url_for('auth.register') }}">
                    <div class="form-group">
                        <label for="username" class="col-md-2 control-label"><strong class="text-danger">*</strong>用户名</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-md-2 control-label"><strong class="text-danger">*</strong>密 码</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="password" name="password" placeholder="密 码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password_confirm" class="col-md-2 control-label"><strong class="text-danger">*</strong>确认密码</label>
                        <div class="col-md-10">
                            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">姓 名</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="姓 名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">称 呼</label>
                        <div class="col-md-10">
                            <input type="radio" id="male" name="gender" value="1" checked="true"> <label for="male"><em>先 生</em></label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="radio" id="female" name="gender" value="2"> <label for="female"><em>女 士</em></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="birthday">生 日</label>
                        <div class="col-md-10" id="birthday_datepicker">
                            <input type="text" class="form-control" id="birthday" name="birthday" placeholder="生 日" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-md-2 control-label"><strong class="text-danger">*</strong>手机号</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="telephone" name="telephone" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-md-2 control-label"><strong class="text-danger">*</strong>送酒地址</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="address" name="address" placeholder="送酒地址">
                        </div>
                    </div>
                    <div class="col-md-offset-2">
                        <button type="submit" class="btn btn-primary">完 成</button>
                        <button type="reset" class="btn btn-danger">清 空</button>
                    </div>
                </form>
            </div>
        </fieldset>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ static('components/jquery-validation/jquery.validate.js') }}"></script>
    <script src="{{ static('components/jquery-validation/localization/messages_zh.js') }}"></script>
    <script src="{{ static('components/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ static('components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js') }}"></script>
    <script src="{{ static('js/register.js') }}"></script>
{% endblock %}