{% extends "base.html" %}

{% block title %}用户注册{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ static('components/bootstrap-datepicker/css/datepicker3.css') }}">
    <link rel="stylesheet" href="{{ static('css/register.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <fieldset>
        <legend>用户信息注册</legend>
        <div class="col-md-8 col-md-offset-2">
            <div class="text-right text-info">
                <em><strong class="text-danger">*</strong>标记为<strong class="text-danger">必填</strong>选项</em>
            </div>
            <form id="form-register" class="form-horizontal" method="post" action="{{ url_for('auth.register') }}">
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label"><strong class="text-danger">*</strong>用户名</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="username" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label"><strong class="text-danger">*</strong>密 码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="密 码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_confirm" class="col-md-2 control-label"><strong class="text-danger">*</strong>确认密码</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="确认密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label"><strong class="text-danger">*</strong>称 呼</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="称 呼">
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobile" class="col-md-2 control-label"><strong class="text-danger">*</strong>手机号</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-md-2 control-label"><strong class="text-danger">*</strong>地 址</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="address" name="address" placeholder="送酒地址, 范围辽宁省灯塔市">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">生 日</label>
                    <div class="col-md-10">
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="form-control year" name="birthday_year">
                                    <option></option>
                                    {% for year in range(1914,2015) %}
                                        <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>年&nbsp;
                                <select class="form-control month" name="birthday_month">
                                    <option></option>
                                    {% for month in range(1,13) %}
                                        <option value="{{ month }}">{{ month }}</option>
                                    {% endfor %}
                                </select>月&nbsp;
                                <select class="form-control day" name="birthday_day">
                                    <option></option>
                                    {% for day in range(1,32) %}
                                        <option value="{{ day }}">{{ day }}</option>
                                    {% endfor %}
                                </select>日&nbsp;
                            </div>
                            <div>
                                <em class="text-success">
                                    正确填写你的生日，也许会有意想不到的惊喜哦^~^
                                    <br>注：生日提交后不可更改，不填写和填写不正确将用注册日期作为默认值
                                </em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    <button type="submit" class="btn btn-primary">完 成</button>
                    <button type="reset" class="btn btn-danger">清 空</button>
                </div>
            </form>
        </div>
    </fieldset>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var remote_url = "{{ url_for('auth.check_username_unique') }}";
    </script>
    <script src="{{ static('components/jquery-validation/jquery.validate.js') }}"></script>
    <script src="{{ static('components/jquery-validation/localization/messages_zh.js') }}"></script>
    <script src="{{ static('js/register.js') }}"></script>
{% endblock %}